<main class="home flex gap-2 flex-col justify-center items-center">
  <section class="bg-slate-950 p-8 rounded-md" style="padding: 30px">
    <h1 class="m-5 text-2xl font-bold text-white">
      Descubra de qual anime é essa cena
    </h1>
    <div class="text-white mb-5 p-2" style="margin-bottom: 10px;">
      <h3 class="font-bold mt-2">Instruções de uso: </h3>
      <ul>
        <li>Selecione uma imagem nítida</li>
        <li>A imagem deve ser de uma cena oficial do anime (Não funciona com fanarts)</li>
      </ul>
    </div>
    <section class="bg-slate-950 text-white m-2 mt-4 rounded-lg p-5 mb-3">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" name="image"
        class="file:mr-4 file:rounded-full file:border-0 file:bg-violet-50 file:px-4 file:py-2 mt-3 file:text-sm file:font-semibold file:text-violet-700 hover:file:bg-violet-100 dark:file:bg-violet-600 dark:file:text-violet-100 dark:hover:file:bg-violet-500 ..." />
    </section>

    <div class="flex justify-center w-full" style="margin-top: 20px">
      <button type="submit" class="bg-violet-600 text-white rounded-2xl hover:bg-violet-500" style="padding: 10px"
        (click)="search()">
        pesquisar
      </button>
    </div>
  </section>

</main>
<footer class="bg-slate-950">

  <div class="text-white" style="margin-bottom: 10px; padding-top: 10px;">
    <ul class="nav flex gap-2 justify-center">
      <li class="bg-violet text-violet">
        <a href="https://www.instagram.com/mateuss5150/" style="color: blueviolet;">Instagram pessoal</a> |
      </li>

      <li class="bg-violet text-violet">
        <a href="https://www.linkedin.com/in/mateussantos-dev/" style="color: blueviolet;">LinkedIn</a> |
      </li>

      <li class="bg-violet text-violet">
        <a href="https://github.com/MateusSantoss" style="color: blueviolet;">GitHub</a>
      </li>
    </ul>




  </div>

  <div class="flex justify-center">
    <P class="text-white">&copy; Desenvolvido por Mateus Santos.</P>
  </div>

</footer>
